#formCreateJob{
    background: linear-gradient(to right, #0542E2, #4095F5);
    border-radius: 10px;
    padding: 30px 20px ;
    width: 80vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    @include ipadLandscape{
        width: 50vw;
        padding-left: 60px;
        padding-right: 60px;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: white;
        align-items: center;

        li{
            display: flex;
            flex-direction: column;
            gap: 8px;
            input, select, textarea {
                padding: 3px 5px;
                border-radius: 10px;
                border: none;
                width: 60vw;
                @include ipadLandscape{
                    width: 30vw;
                }
            }

            #legend{
                font-size: 18px;
            }
            .status, .origin{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            button{
                background-color: white;
                border-radius: 10px;
                border: none;
                color: #4095F5;
                text-transform: uppercase;
                padding: 10px 10px;
                font-weight: bold;
                margin-top: 20px;
                &:hover{
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
                }
                @include ipadLandscape{
                    width: 30vw;
                }
            }
        }
        
    }
}